@import "reset";

// Greyscale colors
$vanta:#333333;
$darkGrey: #494949;
$mediumDarkGrey:#666;
$mediumGrey: #B0B0B0;
$lightGrey:#F0F0F0;
$white: #FFFFFF;

$linkColor: #0E58F5;

//Hues
$electricBlue:#167FFC;
$muteBlue:#36c;
$modestPink:#FD3259;
$bubbleGum:#FF5C6F;
$summerGreen:#1caf44;

//typography
$font-stack:normal 14px/1.5 "Roboto","Helvetica Neue", sans-serif;

//radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

//real styles start here
body{
  font:$font-stack;
  color:$vanta;
  background-color:$lightGrey;
}

.button{
  font:$font-stack;
  font-weight:300;
  @include border-radius(3px);
  /*border:1px solid $mediumGrey;*/
  border:1px solid transparent;
  padding: 6px 18px;
  background-color: $linkColor;
  color:$white;
  transition:background-color 200ms linear;
  margin-right:15px;//for testing purposes only

  &:hover{
  background-color:$electricBlue;
  box-shadow:0px 1px 2px 0px rgba( $mediumGrey, .9 );
  }
}
